@font-face {
  font-family: "iconfont"; /* Project id 3459970 */
  src: url('iconfont.woff2?t=1667026290501') format('woff2'),
       url('iconfont.woff?t=1667026290501') format('woff'),
       url('iconfont.ttf?t=1667026290501') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-disabled:before {
  content: "\e7d5";
}

.icon-disabled1:before {
  content: "\e7d6";
}

.icon-erweima:before {
  content: "\e642";
}

.icon-yiliaohangyedeICON-:before {
  content: "\e61f";
}

.icon-youxiangdenglu:before {
  content: "\e616";
}

.icon-youkexinxi:before {
  content: "\e6af";
}

.icon-tuichudenglu:before {
  content: "\e697";
}

